/* 모달 컨텐츠 영역 - 스크롤바 숨기기 */
.building-modal-content {
  flex: 1;
  overflow-y: auto;
  background: #111;
  /* 다크 모드 배경색 */
  padding-bottom: 20px;

  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari, Opera */
.building-modal-content::-webkit-scrollbar {
  display: none;
}